header{
	/* These are the original settings
	background-image: linear-gradient(#04519b, #044687 60%, #033769);
	color:#fff;
	min-height: 100px;
	padding-top: 25px; */

	background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
	color:#fff;
	min-height: 80px;
	padding-top: 20px;
}

header form{
	float:right;
}

header .logo{
	float:left;
}

#success_message{ display: none;}

.panel-heading{
    background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    color: #fff !important;
}

.bubble{
	position: relative;
	width: 580px;
	min-height: 65px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.bubble:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left:-15px;
	top: 50%;
}

.bubble:before{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left:-16px;
	top: 50%;
}

.post-actions{
	margin:5px;
}

.comment-form .form-group{
	width: 90%;
}

.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width:100%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends li{
	list-style: none;
	padding:0 5px;
	display:inline;
	float:left;
}

.friends img{
	width: 55px;
}

.groups img{
	width:40px;
	height: 60px;
	float:left;
	margin-right: 15px;
}

.group-item{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.profile ul{
	margin-top: 30px;
}

.profile li{
	list-style: none;
	line-height: 1.9em;
}

.photos{
	margin: 0;
	padding: 0;
}

.photos li{
	list-style: none;
	float: left;
	margin:5px;
	width: 23%;
}

.photos img{
	width:100%;
}

footer{
	background: #f4f4f4;
	height: 90px;
	color: #000000;
	text-align: center;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 7px solid rgba(96,108,136,1);
	position: fixed;
}

.members .member-row{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.members img{
	margin-bottom: 5px;
}

@media(min-width: 991px){
  .members p{
	padding-top: 40px;
	}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 50%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  left: 380px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imaginary_container{
    margin-top:10%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
